link = #08f
link--hover = #80f

html, body
    height: 100%

body
    font-family -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif
    color #222
    box-sizing border-box

h1, h2, h3, h4
    font-weight 300

h2
    font-size 2.4em

.about
    display flex
    align-items center
    justify-content center
    flex-flow column

    height 100%
    padding 0 1em

    &__name
        font-size 2.4em
        font-weight 300
        margin 0

    &__motto
        font-size 1.2em
        font-weight: 300
        max-width: 300px
        text-align center
        line-height 1.6
        margin-top 1em

.contact
    margin 0.1em 0

    &__link
        color link
        font-size 1.2em
        font-weight 300
        position relative

        &:hover
            color link--hover

@media (min-width: 800px)
    .about
        &__name
            font-size 4em

        &__motto
            font-size 1.6em
            letter-spacing: 0.02em
            margin-top 1.4em
            max-width: 450px

            strong
                letter-spacing: initial

    .en h2
        max-width: 470px

    .contact
        margin 0.5em 0

        &__link
            font-size 1.4em
