link = #08f
link--hover = #80f

html, body
    height: 100%

body
    display flex
    align-items center
    justify-content center
    flex-flow column
    
    font-family -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif
    color #222   

h1
    font-size 5em
    font-weight 300
    margin 0

h2
    font-size 1.4em
    font-weight: 300
    letter-spacing: 0.05em
    max-width: 400px
    text-align center
    line-height 1.6
    margin-top 1.4em

.contact
    &__link
        color link
        font-size 1.4em
        font-weight 300
        position relative
        
        &:hover
            color link--hover
            