doctype html
block vars
html(lang=lang ? lang : 'sk')
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="decription" content=description ? description : 'Tvorím pekné webové stránky, ktoré zbližujú firmy a ich zákazníkov')

        title Adam Gavlák – #{title}

        link(rel="stylesheet" href="/assets/style.css")
        link(rel="icon" href="/images/favicon.png")
    body
        block content
        script(src="/assets/app.js")
