extends _layout.pug

block vars
  - var lang = 'en'
  - var title = 'Websites and web applications'
  - var description = 'I create nice websites and web applications, that bring companies closer to their customers'

block content
  main.about
    h1.about__name Adam Gavlák ✌️
    h2.about__motto I build useful websites and web applications, that bring <strong>companies</strong> closer to their <strong>customers</strong>

    p.contact
      a(href="mailto:adam@gavlak.sk" class="contact__link") adam@gavlak.sk

    include _social.pug