extends _layout.pug

block vars
  - var lang = 'sk'
  - var title = 'Webové stránky a aplikácie'
  - var description = 'Tvorím pekné webové stránky a aplikácie, ktoré zbližujú firmy a ich zákazníkov'

block content
  main.about
    h1.about__name Adam Gavlák ✌️
    h2.about__motto Tvorím užitočné webové stránky a aplikácie, ktoré zbližujú <strong>firmy</strong> a ich <strong>zákazníkov</strong>

    p.contact
      a(href="mailto:adam@gavlak.sk" class="contact__link") adam@gavlak.sk

    include _social.pug